<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Cadastro de Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="contato.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="contato.email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input [(ngModel)]="contato.telefone" type="tel"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="salvarContato()">
    {{ indiceEdicao >= 0 ? 'Atualizar' : 'Cadastrar' }} Contato
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let c of contatos; let i = index">
    <ion-label>
      <h2>{{ c.nome }}</h2>
      <p>{{ c.email }}</p>
      <p>{{ c.telefone}}</p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="editarContato(1)">Editar</ion-button>
      <ion-button color="danger" (click)="excluirContato(i)">Excluir</ion-button>
    </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
